/*nav bar*/
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
header, .left, .right{
  display: flex;
}
main{
  display: flex;
  justify-content: center;
}
header{
  width: 100%;
  max-width: 1920px;
  height: 80px;
  background-color: whitesmoke;
  justify-content: space-between;
  align-items: center;
}
.left{
  width: 20%;
  justify-content: space-evenly;
}

.sing-in:hover{
  color: white;
  background-color: #3b7fc4;
}
.sing-up:hover{
  color: #2f2e35;
  background-color: #3b7fc4;

}
.right{
  width: 50%;
  justify-content: space-evenly;
}
.sing-in, .sing-up, .contact, .games, .buy, .support{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  cursor: pointer;
  border-radius: 5px;
  height: 40px;
}
.contact, .games, .buy, .support{
  position: relative;
}
#games, #buy, #support, #contact{
  display: none;
  position: absolute;
  z-index: 1;
  color: initial;
}
.games:hover, .contact:hover, .buy:hover, .support:hover{
  color: #f8faff;
  background-color: #3b7fc4;
}


a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: none;
}

/***************************/




/* product details in homs */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

/*-- VARIABLES CSS--*/
/*Colores*/
:root{
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/
*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 2rem 0 0 0;
    background-color: #fff;
    color: var(--dark-color);
    font-family: var(--body-font);
   
}
h1{
    font-size: var(--h1-font-size);
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    padding: 2rem 0;
   

}

/*//////////////////////////////////////////////*/
/* .container{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
} */
/*****************************/

.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop{
    position: relative;
    margin: 0 2.5rem;
}
.title-shop::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    margin-left: .25rem;
}

/*-- COMPONENT --*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}
article:nth-child(1){
    background-color: var(--first-color);
}
article:nth-child(2){
    background-color: var(--second-color);
}
article:nth-child(3){
    background-color: var(--third-color);
}
article:nth-child(4){
    background-color: var(--second-color);
}

article:nth-child(5){
  background-color: var(--first-color);
}
article:nth-child(6){
  background-color: var(--second-color);
}
article:nth-child(7){
  background-color: var(--third-color);
}
article:nth-child(8){
  background-color: var(--second-color);
}

article:nth-child(9){
  background-color: var(--first-color);
}
article:nth-child(10){
  background-color: var(--second-color);
}
article:nth-child(11){
  background-color: var(--third-color);
}
article:nth-child(12){
  background-color: var(--second-color);
}

article:nth-child(13){
  background-color: var(--first-color);
}
article:nth-child(14){
  background-color: var(--second-color);
}
article:nth-child(15){
  background-color: var(--third-color);
}
article:nth-child(16){
  background-color: var(--second-color);
}

article:nth-child(17){
  background-color: var(--first-color);
}
article:nth-child(18){
  background-color: var(--second-color);
}
article:nth-child(19){
  background-color: var(--third-color);
}
article:nth-child(20){
  background-color: var(--second-color);
}




.card__img{
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
}
.card__name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
.card__icon{
    font-size: 1.5rem;
    color: var(--dark-color);
}
.card__icon:hover{
    color: var(--accent-color);
}
.card__precis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
}
.card__preci--now{
    font-size: var(--h3-font-size);
    font-weight: bold;
}
/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    transform: rotate(30deg);
    margin-left: 3.5rem;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/*-- FOOTER --*/

footer{
  text-align: center;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    body{
        margin: 3rem 0 0 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}


/* body */

/* .name{
  margin-top: 10%;
  margin-left: 2%;

}

.image{
margin-top: 8%;
}

.pp{
  margin-top: 15%;
  margin-right: 20%;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: 'Poppins', sans-serif;
}

.articles {
  width: 90%;
  max-width: 920px;
  margin: 2rem auto;
  margin-top: 8%;
}

.article {
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-areas: 'image'
                       'content';
  margin-bottom: 3rem;
  gap: 30px;
}

.article__image {
  grid-area: image;
}

.article__image img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.article__info {
  grid-area: content;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article__info h3 {
  font-size: 1.4rem;
}

.article__info span {
  color: gray;
}

.btn-article {
  align-self: flex-end;
  text-decoration: none;
  text-align: center;
  background:#DCFAFB;
  color: black;
  width: 150px;
  padding: 0.5rem 0;
  margin-top: 1rem;
  
}

@media screen and (min-width: 700px) {
  .article {
    grid-template-areas: 'image content';
    grid-template-rows: 300px;
    grid-template-columns: 1fr 1fr;
  }
}




/* add product form */

label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 10%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: red;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
  background-color: #DCFAFB;
  
};

div.error {
  padding: 10px;
  background: #f37777;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}


/* add product button */
.addProduct-btn
{
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 1em;
  padding: 1em 2em;
  margin-top: 100px;
  margin-bottom: 60px;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(2, 31, 48, 0.5);
  

}


/* productBody  */

.article__info{
  width: 10%;
  padding: 10px;
 
}



/* abanoub */











/* 



.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
  height: 101px;
  width: 100%;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  border: 1px;
  border-radius: 61px;
}

.form-control {
  border-radius: 19.375rem;
}

.dropdown-menu.show {
  display: block;
  border: 1px;
  border-radius: 6px;
}
.search button:hover {
  background-color: #181733;
}

.ant-badge {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  color: rgb(26 23 23 / 88%);
  font-size: 14px;
  line-height: 2;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  position: relative;
  display: inline-block;
  width: fit-content;
}

:where(.css-dev-only-do-not-override-2q8sxy).ant-badge .ant-badge-count,
:where(.css-dev-only-do-not-override-2q8sxy).ant-badge .ant-badge-dot,
:where(.css-dev-only-do-not-override-2q8sxy).ant-badge
  .ant-scroll-number-custom-component {
  position: absolute;
  top: 22px;
  left: 20px;
  inset-inline-end: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0%;
}
:where(.css-dev-only-do-not-override-2q8sxy).ant-badge .ant-badge-count {
  z-index: auto;
  min-width: 10px;
  height: 14px;
  color: black;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  white-space: nowrap;
  text-align: center;
  background: yellow;
  border-radius: 20px;
  box-shadow: 0 0 0 1px #181733;
  transition: background 0.2s;
}

.ant-badge .ant-badge-count {
  z-index: auto;
  min-width: 16px;
  height: 15px;
  color: black;
  font-weight: normal;
  font-size: 14px;
  line-height: 13px;
  white-space: nowrap;
  text-align: center;
  background: yellow;
  border-radius: 15px;
  box-shadow: 0 0 0 1px #181733;
  transition: background 0.2s;
}


/* /////////////////////////////// */
/* 
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Playfair Display', serif; */

/* //navbar css */
/* .navbar {
  font-family: "Poppins", sans-serif;
  font-size: 17px;

  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6px gray;
  border-bottom: solid gray !important;

  background-color: #181733 !important;
}

.nav-link {
  font-weight: 300 !important;
  color: white;
}

.active {
  border-bottom: 2px solid rgb(158, 184, 13);
}

.navbar-brand {
  font-weight: 700;
  font-family: "roboto", sans-serif;
  letter-spacing: 3px;
}
  */



  * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap");
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* font-family: 'Poppins', sans-serif; */
  /* font-family: 'Playfair Display', serif; */
  
  /* //navbar css */
  .navbar {
    font-family: "Poppins", sans-serif;
    font-size: 17px;
  
    line-height: 26px;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px gray;
    --webkit-box-shadow: 0 8px 6px -6px gray;
    border-bottom: solid gray !important;
  
    background-color: #181733 !important;
  }
  
  .nav-link {
    font-weight: 300 !important;
    color: white;
  }
  
  .active {
    border-bottom: 2px solid rgb(158, 184, 13);
  }
  
  .navbar-brand {
    font-weight: 700;
    font-family: "roboto", sans-serif;
    letter-spacing: 3px;
  }
  /* =============================
  ==========footer============= */
  
  .footer {
    color: white;
    padding: 25px;
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #434343, #000000);
  }
  
  .footer a {
    text-decoration: none;
    color: white;
    padding: 10px;
  }
  
  .footer a:hover {
    color: #ffefba;
    border-bottom: 1px solid #ffefba;
  }
  /* =================================
  ======== page not found css ======= */
  .pnf {
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .pnf-title {
    font-size: 100px;
    font-weight: 700;
  }
  
  .pnf-heading {
    font-weight: normal;
  }
  
  .pnf-btn {
    color: black;
    border: 1px solid black;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
  }
  .pnf-btn:hover {
    background-color: rgb(182, 23, 23);
    color: white;
  }
  /* ========================================= */
  /* =========contact us ========= */
  .contactus {
    margin: 0;
    padding: 0;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-nav .nav-link.active,
  .navbar-nav .nav-link.show {
    color: rgb(255 234 0);
  }
  
  .navbar-brand {
    padding-top: var(--bs-navbar-brand-padding-y);
    padding-bottom: var(--bs-navbar-brand-padding-y);
    margin-right: var(--bs-navbar-brand-margin-end);
    font-size: var(--bs-navbar-brand-font-size);
    color: white;
    text-decoration: none;
    white-space: nowrap;
  }
  
  .navbar-brand:focus,
  .navbar-brand:hover {
    color: white;
  }
  
  .nav-link:focus,
  .nav-link:hover {
    color: yellow;
  }
  
  .dropdown-item.active,
  .dropdown-item:active {
    color: yellow;
    text-decoration: none;
    background-color: #181733;
  }
  
  .dropdown-item:hover {
    color: yellow;
    text-decoration: none;
    background-color: #181733;
  }
  
  /* background: linear-gradient(160deg,var(--blue) 24%,var(--red) 67%); */
  
  .search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
    border: 1px;
    border-radius: 87px;
  }
  
  .search input {
    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;
  }
  
  .search input:focus {
    box-shadow: none;
    border: 2px solid #181733;
  }
  
  .search .fa-search {
    position: absolute;
    top: 20px;
    left: 16px;
  }
  
  .search button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: #181733;
    border-radius: inherit;
  }
  
  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    height: 101px;
    width: 100%;
  }
  
  .searchhhh {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
    border: 1px;
    border-radius: 61px;
  }
  
  .form-control {
    border-radius: 19.375rem;
  }
  
  .dropdown-menu.show {
    display: block;
    border: 1px;
    border-radius: 6px;
  }
  .search button:hover {
    background-color: #181733;
  }
  
  .ant-badge {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: rgb(26 23 23 / 88%);
    font-size: 14px;
    line-height: 2;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: relative;
    display: inline-block;
    width: fit-content;
  }
  
  :where(.css-dev-only-do-not-override-2q8sxy).ant-badge .ant-badge-count,
  :where(.css-dev-only-do-not-override-2q8sxy).ant-badge .ant-badge-dot,
  :where(.css-dev-only-do-not-override-2q8sxy).ant-badge
    .ant-scroll-number-custom-component {
    position: absolute;
    top: 22px;
    left: 20px;
    inset-inline-end: 0;
    transform: translate(50%, -50%);
    transform-origin: 100% 0%;
  }
  :where(.css-dev-only-do-not-override-2q8sxy).ant-badge .ant-badge-count {
    z-index: auto;
    min-width: 10px;
    height: 14px;
    color: black;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    white-space: nowrap;
    text-align: center;
    background: yellow;
    border-radius: 20px;
    box-shadow: 0 0 0 1px #181733;
    transition: background 0.2s;
  }
  
  .ant-badge .ant-badge-count {
    z-index: auto;
    min-width: 16px;
    height: 15px;
    color: black;
    font-weight: normal;
    font-size: 14px;
    line-height: 13px;
    white-space: nowrap;
    text-align: center;
    background: yellow;
    border-radius: 15px;
    box-shadow: 0 0 0 1px #181733;
    transition: background 0.2s;
  }